body{
    margin: 0;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}

header .menu{
    margin: 0 auto;
    width: 400px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: beige;
}

.titulo-maestro{
    color: blue;
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
}

.titulo-maestro h1{
    margin: 0;
}

.titulo-maestro .image-container{
    height: 100%;
    width: 35px;
    margin: 0;
}

.titulo-maestro .image-container img{
    width: 100%;
}


.footer-details{
    background-color: beige;
    color: blue;
    margin: 0;
    height: 50px;
}