body{
    text-align: center;
    font-size: large;
    font-weight: bolder;
    color: red;
    font-family: 'Courier New', Courier, monospace;
}

header .menu{
    margin: 0 auto;
    width: 400px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: beige;
}

.titulo-maestro{
    color: blue;
    background-color: pink;
}

.titulo-maestro h1{
    margin-top: 0;
}
